In [1]:
import sys
import pandas as pd
from sklearn.preprocessing import StandardScaler

sys.path.append("..")

In [2]:
train = pd.read_csv('../data/500_ngrams/train_features.csv', index_col=0)
val = pd.read_csv('../data/500_ngrams/validation_features.csv', index_col=0)

In [3]:
train.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_926,B_927,B_928,B_929,B_930,B_931,B_932,B_933,B_934,different_author
0,63.175395,9.958783,12.468828,34.081463,0.005,11.255550,0.000000,22.624434,31.587697,0.000000,...,0.0,0.0,0.0,0.0,5.769231,0.0,0.0,0.0,0.03049,True
1,55.259654,7.702780,10.319574,22.303595,0.000,9.550596,8.944544,25.044723,27.962716,0.001923,...,0.0,0.0,0.0,0.0,45.000000,0.0,0.0,0.0,0.00000,True
2,63.070539,10.716359,12.448133,34.024896,0.005,11.403550,0.000000,22.624434,31.535270,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.00000,True
3,56.972789,9.347844,9.353741,26.360544,0.000,11.412073,0.000000,14.018692,32.312925,0.000000,...,0.0,0.0,0.0,0.0,14.981273,0.0,0.0,0.0,0.00000,False
4,65.335753,12.830242,7.864489,33.272837,0.000,12.760300,3.546099,21.276596,28.433152,0.003745,...,0.0,0.0,0.0,0.0,4.938272,0.0,0.0,0.0,0.00000,False

In [6]:
number_of_features = int((train.shape[1] - 1) / 2)
number_of_features

935

In [16]:
a_columns = ['A_{}'.format(i) for i in range(number_of_features)]
b_columns = ['B_{}'.format(i) for i in range(number_of_features)]

train_A = train[a_columns]
train_B = train[b_columns]

val_A = val[a_columns]
val_B = val[b_columns]

In [17]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

standard_scaler = StandardScaler()
min_max_scaler = MinMaxScaler(feature_range=(0, 1))

standard_scaler.fit(train_A)
min_max_scaler.fit(train_A)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [18]:
# Standard Scaler

train_scaled = pd.concat([pd.DataFrame(standard_scaler.transform(train_A), columns=a_columns),
                          pd.DataFrame(standard_scaler.transform(train_B), columns=b_columns),
                          train['different_author']],
                          axis=1)

val_scaled = pd.concat([pd.DataFrame(standard_scaler.transform(val_A), columns=a_columns),
                        pd.DataFrame(standard_scaler.transform(val_B), columns=b_columns),
                        val['different_author']],
                        axis=1)

# MinMax Scaler

train_minmax_scaled = pd.concat([pd.DataFrame(min_max_scaler.transform(train_A), columns=a_columns),
                                 pd.DataFrame(min_max_scaler.transform(train_B), columns=b_columns),
                                 train['different_author']],
                                 axis=1)

val_minmax_scaled = pd.concat([pd.DataFrame(min_max_scaler.transform(val_A), columns=a_columns),
                               pd.DataFrame(min_max_scaler.transform(val_B), columns=b_columns),
                               val['different_author']],
                               axis=1)

In [19]:
train_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_926,B_927,B_928,B_929,B_930,B_931,B_932,B_933,B_934,different_author
0,0.215654,-0.258210,0.256392,1.790401,1.195253,0.798484,-0.823538,-1.149280,0.978181,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.321039,-0.080532,-0.178229,-0.044893,0.571882,True
1,-0.742747,-0.827390,-0.293096,-0.130107,-0.568531,-0.022859,0.513665,-1.006763,0.332644,0.105557,...,-0.128485,-0.16671,-0.285598,-0.149821,6.401839,-0.080532,-0.178229,-0.044893,-0.353172,True
2,0.202959,-0.067077,0.251101,1.781177,1.195253,0.869781,-0.823538,-1.149280,0.968845,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,-0.353172,True
3,-0.535329,-0.412347,-0.540024,0.531422,-0.568531,0.873887,-0.823538,-1.656024,1.107330,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,1.748913,-0.080532,-0.178229,-0.044893,-0.353172,False
4,0.477220,0.466246,-0.920773,1.658546,-0.568531,1.523380,-0.293399,-1.228647,0.416419,0.727026,...,-0.128485,-0.16671,-0.285598,-0.149821,0.192239,-0.080532,-0.178229,-0.044893,-0.353172,False

In [20]:
val_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_926,B_927,B_928,B_929,B_930,B_931,B_932,B_933,B_934,different_author
0,-0.419309,-0.414689,-1.873521,0.956191,-0.568531,-0.477507,-0.313302,-0.672771,0.511223,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.992468,-0.080532,-0.178229,-0.044893,-0.353172,True
1,-0.214744,-0.470367,-2.007632,-0.084456,1.213069,-0.516515,2.483969,0.384547,0.339927,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.552717,-0.080532,-0.178229,-0.044893,-0.353172,True
2,0.805759,0.114356,-1.440205,-0.385260,-0.568531,-0.994697,0.090831,-0.500686,-0.145907,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.810739,-0.080532,-0.178229,-0.044893,-0.353172,False
3,-1.370513,0.072984,-0.447409,1.960896,1.006276,0.631051,0.339881,-0.877651,-0.521038,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,-0.353172,False
4,-1.027781,0.059180,-0.714059,-0.231372,-0.568531,0.005900,-0.823538,-0.938684,1.839914,-0.550301,...,-0.128485,-0.16671,-0.285598,-0.149821,0.322762,-0.080532,-0.178229,-0.044893,-0.353172,True

In [21]:
train_scaled.to_csv('../data/500_ngrams/train_features_scaled_standard.csv')
val_scaled.to_csv('../data/500_ngrams/validation_features_scaled_standard.csv')

In [22]:
train_minmax_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_926,B_927,B_928,B_929,B_930,B_931,B_932,B_933,B_934,different_author
0,0.591167,0.238369,0.393659,0.654621,0.23,0.544193,0.000000,0.184063,0.470222,0.000000,...,0.0,0.0,0.0,0.0,0.095192,0.0,0.0,0.0,0.072784,True
1,0.500083,0.186608,0.325804,0.428397,0.00,0.448047,0.121928,0.203754,0.409647,0.069231,...,0.0,0.0,0.0,0.0,0.742500,0.0,0.0,0.0,0.000000,True
2,0.589960,0.255750,0.393005,0.653535,0.23,0.552540,0.000000,0.184063,0.469346,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,True
3,0.519795,0.224352,0.295311,0.506321,0.00,0.553020,0.000000,0.114050,0.482341,0.000000,...,0.0,0.0,0.0,0.0,0.247191,0.0,0.0,0.0,0.000000,False
4,0.616025,0.304250,0.248293,0.639090,0.00,0.629050,0.048339,0.173098,0.417508,0.134831,...,0.0,0.0,0.0,0.0,0.081481,0.0,0.0,0.0,0.000000,False

In [23]:
val_minmax_scaled.head()

,A_0,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,...,B_926,B_927,B_928,B_929,B_930,B_931,B_932,B_933,B_934,different_author
0,0.530822,0.224139,0.130640,0.556357,0.000000,0.394825,0.046524,0.249899,0.426404,0.0,...,0.0,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,True
1,0.550263,0.219075,0.114079,0.433775,0.232323,0.390259,0.301584,0.395980,0.410330,0.0,...,0.0,0.0,0.0,0.0,0.119855,0.0,0.0,0.0,0.0,True
2,0.647249,0.272249,0.184150,0.398342,0.000000,0.334283,0.083374,0.273674,0.364741,0.0,...,0.0,0.0,0.0,0.0,0.147321,0.0,0.0,0.0,0.0,False
3,0.440422,0.268487,0.306748,0.674705,0.205357,0.524594,0.106082,0.221592,0.329540,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,False
4,0.472994,0.267232,0.273820,0.416469,0.000000,0.451413,0.000000,0.213160,0.551084,0.0,...,0.0,0.0,0.0,0.0,0.095376,0.0,0.0,0.0,0.0,True

In [24]:
train_minmax_scaled.to_csv('../data/500_ngrams/train_features_scaled_minmax.csv')
val_minmax_scaled.to_csv('../data/500_ngrams/validation_features_scaled_minmax.csv')

In [25]:
imposters = pd.read_csv('../data/imposters/imposters_features.csv', index_col=0)

In [28]:
imposters_columns = ['I_{}'.format(i) for i in range(number_of_features)]

In [29]:
imposters_scaled = pd.DataFrame(standard_scaler.transform(imposters), columns=imposters_columns)
imposters_minmax_scaled = pd.DataFrame(min_max_scaler.transform(imposters), columns=imposters_columns)

In [30]:
imposters_scaled.head()

,I_0,I_1,I_2,I_3,I_4,I_5,I_6,I_7,I_8,I_9,...,I_925,I_926,I_927,I_928,I_929,I_930,I_931,I_932,I_933,I_934
0,-0.234668,0.667569,-0.990916,0.874250,-0.568531,1.212047,0.236741,-1.855076,0.309097,-0.550301,...,-0.772425,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,-0.353172
1,-2.760246,-0.423278,-0.688773,-0.334090,-0.568531,-0.670668,-0.823538,0.925028,0.039359,-0.550301,...,-0.772425,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,2.866477
2,0.185358,-0.769454,1.633991,-0.161863,-0.568531,0.426395,-0.823538,-1.682171,-1.769816,-0.550301,...,-0.322795,-0.128485,-0.16671,-0.285598,-0.149821,-0.573197,-0.080532,-0.178229,-0.044893,-0.353172
3,-0.799063,-1.635485,-0.129642,-0.550407,-0.568531,-1.236723,0.656653,1.891096,0.134369,0.512148,...,0.600279,-0.128485,-0.16671,10.854532,-0.149821,1.358277,-0.080532,-0.178229,-0.044893,1.428719
4,-0.865322,1.644088,0.616464,1.375843,0.273371,0.290789,-0.823538,-0.027991,0.145777,-0.550301,...,-0.141440,-0.128485,-0.16671,-0.285598,-0.149821,-0.203266,-0.080532,-0.178229,-0.044893,-0.353172

In [31]:
imposters_minmax_scaled.head()

,I_0,I_1,I_2,I_3,I_4,I_5,I_6,I_7,I_8,I_9,...,I_925,I_926,I_927,I_928,I_929,I_930,I_931,I_932,I_933,I_934
0,0.548369,0.322558,0.239631,0.546704,0.000000,0.592605,0.096678,0.086549,0.407437,0.00000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.308345,0.223358,0.276942,0.404369,0.000000,0.372214,0.000000,0.470654,0.382126,0.00000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.253324
2,0.588287,0.191877,0.563776,0.424657,0.000000,0.500636,0.000000,0.110438,0.212359,0.00000,...,0.046769,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.494731,0.113121,0.345988,0.378889,0.000000,0.305951,0.134966,0.604128,0.391041,0.11215,...,0.142783,0.0,0.0,0.948598,0.0,0.205607,0.0,0.0,0.0,0.140200
4,0.488434,0.411362,0.438123,0.605789,0.109785,0.484762,0.000000,0.338983,0.392112,0.00000,...,0.065632,0.0,0.0,0.000000,0.0,0.039379,0.0,0.0,0.0,0.000000

In [32]:
imposters_scaled.to_csv('../data/imposters/imposters_scaled_standard.csv')
imposters_minmax_scaled.to_csv('../data/imposters/imposters_scaled_minmax.csv')