In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import SelectKBest

In [32]:
TOP_FEATURES = 150

In [33]:
df = pd.read_csv('../data/500_ngrams/train_features_scaled_standard.csv', index_col=0)

In [34]:
df_feature_names = pd.read_csv('../data/500_ngrams/feature_names.csv', index_col=0)

In [35]:
N = int((len(df.columns) - 1) / 2)

A = df.iloc[:, :N]
B = df.iloc[:, N:-1]

A = A.rename(columns={x:y for x,y in zip(A.columns, range(N))})
B = B.rename(columns={x:y for x,y in zip(B.columns, range(N))})

In [36]:
df_train_absdiff = abs(A - B)

In [37]:
y_train = df['different_author']

In [38]:
selector = SelectKBest(k=TOP_FEATURES)

In [39]:
selector.fit(df_train_absdiff, y_train)

/usr/local/anaconda3/lib/python3.6/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [188 269 293 468 474 595 596 617 764 765 770] are constant.
  UserWarning)
/usr/local/anaconda3/lib/python3.6/site-packages/sklearn/feature_selection/univariate_selection.py:114: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

SelectKBest(k=150, score_func=<function f_classif at 0x1188837b8>)

In [40]:
df_feature_names.iloc[293]

0    aren
Name: 293, dtype: object

In [41]:
idxs = selector.get_support(indices=True)
idxs

array([  1,   3,   5,   6,   7,  11,  46,  47,  52,  53,  55,  56,  57,
        59,  95,  99, 110, 111, 119, 120, 121, 122, 139, 152, 173, 174,
       186, 198, 199, 201, 202, 236, 241, 263, 279, 283, 290, 294, 310,
       325, 328, 337, 341, 342, 344, 349, 350, 352, 354, 362, 364, 366,
       368, 402, 403, 409, 410, 416, 417, 425, 426, 428, 440, 446, 451,
       455, 457, 471, 482, 492, 496, 499, 501, 502, 503, 507, 508, 514,
       515, 516, 524, 531, 544, 552, 561, 562, 563, 571, 572, 589, 592,
       593, 594, 603, 608, 613, 614, 631, 635, 639, 641, 658, 659, 665,
       676, 683, 684, 690, 694, 699, 704, 707, 710, 712, 722, 725, 726,
       729, 732, 734, 750, 752, 753, 754, 758, 766, 772, 773, 775, 789,
       793, 797, 808, 812, 813, 839, 846, 850, 866, 870, 882, 884, 894,
       898, 902, 908, 914, 918, 919, 925])

In [43]:
df_feature_names.iloc[idxs]

                             0
1                    Ari Index
3                            C
5           Coleman Liau Index
6                       Colons
7                       Commas
11                    DT_JJ_NN
46   Dale Chall Known Fraction
47            Dale Chall Score
52        Flesch Kincaid Grade
53         Flesch Reading Ease
55           Gunning Fog Index
56                           H
57                     Hyphens
59                    IN_DT_JJ
95                   JJ_NNS_IN
99                    JJ_NN_IN
110          Lexical diversity
111                  Lix Index
119       Mean Sentence Length
120           Mean Word Length
121      Mean paragraph Length
122    Mean syllables per word
139                NN_IN_DT_JJ
152                NN_IN_NN_NN
173          Number of letters
174                    Numbers
186                Punctuation
198      STDEV Sentence Length
199                 Semicolons
201                 Smog Index
..                         ...
750                       rson
752                       rtai
753                       rtic
754                       rule
758                       scri
766                        she
772                       show
773                       sibl
775                       side
789                       stan
793                       ster
797                       stio
808                       tack
812                       tand
813                       tant
839                       thin
846                       ties
850                       tion
866                       uest
870                       umbe
882                       vers
884                       vide
894                       well
898                       weve
902                      which
908                       wing
914                       worl
918                       writ
919                       xamp
925                        you

[150 rows x 1 columns]